<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>

    
    <div class="top-bar">
        <a href="/Menu/Inbox" class="msg-icon">
            🔔 <span id="msgCount"></span>
        </a>

        <button id="logoutBtn" class="logout-btn">Logout</button>
    </div>

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        document.getElementById("logoutBtn").addEventListener("click", () => {
            localStorage.clear();
            window.location.href = "/Account/Login";
        });
    </script>

</body>
</html>
