@{
    ViewData["Title"] = "Menu";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/menu.css" />

<div class="menu-wrapper">
    <h2 class="menu-title">Menu</h2>

    <div class="menu-container">

        <a href="/Menu/ApplePie" class="menu-item">
            <img src="~/images/menu-applepie.png" />
            <span>Apple Pie</span>
        </a>

        <a href="/Menu/Cookies" class="menu-item">
            <img src="~/images/menu-cookie.png" />
            <span>Cookies</span>
        </a>

        <a href="/Menu/Pancake" class="menu-item">
            <img src="~/images/menu-cap.png" />
            <span>Pancake</span>
        </a>

    </div>
</div>
