.send-box {
    max-width: 500px;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(255,182,193,0.4);
}

    .send-box select,
    .send-box textarea {
        width: 100%;
        margin-top: 10px;
        padding: 12px;
        border-radius: 12px;
        border: 1px solid pink;
    }

    .send-box textarea {
        height: 80px;
    }

    .send-box button {
        margin-top: 12px;
        width: 100%;
        padding: 12px;
        border-radius: 20px;
        background: hotpink;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }
