.top-bar {
    position: fixed;
    top: 15px;
    right: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    z-index: 9999;
}

.msg-icon {
    font-size: 22px;
    text-decoration: none;
    position: relative;
}

#msgCount {
    background: hotpink;
    color: white;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 12px;
    position: absolute;
    top: -8px;
    right: -10px;
}

.logout-btn {
    background: #ff5fa2;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

    .logout-btn:hover {
        background: #ff3d91;
    }
